body {
  color: #1144FF;
}

h1 {
  margin: 25px;
}

button {
  width: 215px;
  height: 7vh;
  margin: 15px;
  border-radius: 120px;
  border-color: #BB6666;
}

#imgClassmate {
  background-size: contain;
  background-repeat: no-repeat;
  height:300px;
  width: 450px;
  margin: 25px;
  border: 2px inset #BB6666;
  -webkit-animation: fadein 1.5s;
}

#profile {
  margin:auto;
  margin-top: 50px;
  width: 500px;
  border: 3px solid #666666;
  text-align: center;
  padding: 25px;
  background-color: #CCCCFF;
  -webkit-animation: fadein 2s;
}

#infoClassmate {
  font-size: 2em;
  font-weight: bold;
  margin: 0px;
  margin-bottom: 10px;
}

#currentClassmate {
  margin: 0px;
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
