<div ng-controller="memoryController">

  <h3>Thanks for playing!</h3>
  <p>Your final score was <strong>{{score}} / {{answers.length}}</strong></p>
  <p>Please let me know if you believe that any of these answers were incorrect, or if you would like to add trivia about a classmate!</p>

  <h4>Share a fond memory you have of PRIME!</h4>
  <div class="form-group">
    <label>Trivia:</label>
    <textarea ng-model="memoryIn" class="form-control"></textarea>
    <button ng-click="submitMemory()" class="btn btn-default">{{memoryStatus()}}</button>
  </div>

  <h4>Share a piece of trivia about another classmate to use on this quiz!</h4>
  <div class="form-group">
    <label>Memory:</label>
    <textarea ng-model="triviaIn" class="form-control"></textarea>
    <select ng-model="triviaAnswer">
      <option ng-repeat="classmate in classList" class="btn btn-default" value="{{classmate}}">{{classmate.name}}</option>
    </select>
    <button ng-click="submitTrivia()" class="btn btn-default">Submit</button>
  </div>

</div>
